IntegrationFlows/UnZip/S4S_RFC_Flow/src/main/resources/wsdl/DOC_WEBI_RFC_READ_TABLE.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_RFC_READ_TABLE">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_RFC_READ_TABLE">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="RfcException.Message.Number">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char512">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="512"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char72">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="72"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="string">
    <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:complexType name="TAB512">
    <xsd:sequence>
     <xsd:element name="WA" type="tns:char512"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RFC_DB_FLD">
    <xsd:sequence>
     <xsd:element name="FIELDNAME" type="tns:char30"/>
     <xsd:element name="OFFSET" type="tns:numeric6"/>
     <xsd:element name="LENGTH" type="tns:numeric6"/>
     <xsd:element name="TYPE" type="tns:char1"/>
     <xsd:element name="FIELDTEXT" type="tns:char60"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RFC_DB_OPT">
    <xsd:sequence>
     <xsd:element name="TEXT" type="tns:char72"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SDTI_RESULT">
    <xsd:sequence>
     <xsd:element name="LINE" type="tns:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RfcException.Message">
    <xsd:sequence>
     <xsd:element name="ID" type="xsd:string"/>
     <xsd:element name="Number" type="tns:RfcException.Message.Number"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RFC_READ_TABLE.RfcException">
    <xsd:sequence>
     <xsd:element name="Name" type="tns:RFC_READ_TABLE.RfcExceptions"/>
     <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
     <xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_TAB512">
    <xsd:sequence>
     <xsd:element name="item" type="tns:TAB512" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_RFC_DB_FLD">
    <xsd:sequence>
     <xsd:element name="item" type="tns:RFC_DB_FLD" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_RFC_DB_OPT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:RFC_DB_OPT" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SDTI_RESULT_TAB">
    <xsd:sequence>
     <xsd:element name="item" type="tns:SDTI_RESULT" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="RFC_READ_TABLE.RfcExceptions">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="DATA_BUFFER_EXCEEDED"/>
     <xsd:enumeration value="FIELD_NOT_VALID"/>
     <xsd:enumeration value="NOT_AUTHORIZED"/>
     <xsd:enumeration value="OPTION_NOT_VALID"/>
     <xsd:enumeration value="TABLE_NOT_AVAILABLE"/>
     <xsd:enumeration value="TABLE_WITHOUT_DATA"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="RFC_READ_TABLE.Exception" type="tns:RFC_READ_TABLE.RfcException"/>
   <xsd:element name="RFC_READ_TABLE">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="DATA" type="tns:TABLE_OF_TAB512" minOccurs="0"/>
      <xsd:element name="DELIMITER" type="tns:char1" minOccurs="0"/>
      <xsd:element name="FIELDS" type="tns:TABLE_OF_RFC_DB_FLD" minOccurs="0"/>
      <xsd:element name="GET_SORTED" type="tns:char1" minOccurs="0"/>
      <xsd:element name="NO_DATA" type="tns:char1" minOccurs="0"/>
      <xsd:element name="OPTIONS" type="tns:TABLE_OF_RFC_DB_OPT" minOccurs="0"/>
      <xsd:element name="QUERY_TABLE" type="tns:char30"/>
      <xsd:element name="ROWCOUNT" type="xsd:int" minOccurs="0"/>
      <xsd:element name="ROWSKIPS" type="xsd:int" minOccurs="0"/>
      <xsd:element name="USE_ET_DATA_4_RETURN" type="tns:char1" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="RFC_READ_TABLEResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="DATA" type="tns:TABLE_OF_TAB512" minOccurs="0"/>
      <xsd:element name="ET_DATA" type="tns:SDTI_RESULT_TAB"/>
      <xsd:element name="FIELDS" type="tns:TABLE_OF_RFC_DB_FLD" minOccurs="0"/>
      <xsd:element name="OPTIONS" type="tns:TABLE_OF_RFC_DB_OPT" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="RFC_READ_TABLE">
  <wsdl:part name="parameters" element="tns:RFC_READ_TABLE"/>
 </wsdl:message>
 <wsdl:message name="RFC_READ_TABLEResponse">
  <wsdl:part name="parameter" element="tns:RFC_READ_TABLEResponse"/>
 </wsdl:message>
 <wsdl:message name="RFC_READ_TABLE.Exception">
  <wsdl:part name="RFC_READ_TABLE.Exception" element="tns:RFC_READ_TABLE.Exception"/>
 </wsdl:message>
 <wsdl:portType name="RFC_READ_TABLE">
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_RFC_READ_TABLE"/>
  </wsp:Policy>
  <wsdl:operation name="RFC_READ_TABLE">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_RFC_READ_TABLE"/>
   </wsp:Policy>
   <wsdl:input message="tns:RFC_READ_TABLE"/>
   <wsdl:output message="tns:RFC_READ_TABLEResponse"/>
   <wsdl:fault name="RFC_READ_TABLE.Exception" message="tns:RFC_READ_TABLE.Exception"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
