IntegrationFlows/UnZip/PG2FFG_LocProd_Join_copy_copy/src/main/resources/xsd/AY1LOCATIONPRODUCT_XML.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ROOT">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0"  name="AY1LOCATIONPRODUCT">
					<xs:complexType>
						<xs:sequence>
							<xs:element nillable="false" name="PRDID">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="false" name="LOCID">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:int" nillable="true" name="FROZENHORIZON" xmlns=""/>
							<xs:element type="xs:int" nillable="true" name="DDROUNDINGVALUE" xmlns=""/>
							<xs:element type="xs:int" nillable="true" name="DDLOTSIZEINDICATOR" xmlns=""/>
							<xs:element type="xs:int" nillable="true" name="INVHOLDINGCOSTPOLICY" xmlns=""/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
